.providerBox{
    width: 30%;
    height: 175px;
    background-image: url('/img/banner/bgProvider.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #767474;
}

.providerBox img{
    width: 42%;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: 2%;
}

.providerInfos{
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    padding-top: 5%;
}

.providerInfos h3{
    font-family: var(--font);
    font-size: 20px;
}

.providerInfos p{
    font-family: var(--font);
    font-size: 0.7em;
}

.providerResum{
    margin-left: 2%;
    margin-top:5%;
    max-width: 150px;
    font-size: 14px;
}

.starSponsored{
    display: flex;
    max-width: 200px;
    gap: 8px;
    padding-top:13% ;
    color: #ffcd29;
    font-size: 23px;
    
}


@media screen and (max-width:1550px) {
    .providerBox{
        width: 36%;
    }
.providerBox img{
    top: 5%;
    left: 5%;
}

.starSponsored{
    display: flex;
    max-width: 200px;
    gap: 8px;
    padding-top:10% ;
    color: #ffcd29;
    font-size: 1em;
    
}


}

@media screen and (max-width:1420px) {
  .providerBox img{
    top: 8%;
    left: 5%;
}
}

@media screen and (max-width:1220px) {
    .providerBox{
        width: 60%;
    }

      .providerBox img{
    top: 8%;
    left: 5%;
    width: 30%;
    
}
 
}

@media screen and (max-width:1050px) {
    .providerBox{
        width: 60%;
    }

      .providerBox img{
    top: 8%;
    left: 5%;
    width: 35%;
    
}
 
}

@media screen and (max-width:900px) {
    .providerBox{
        width: 60%;
    }

      .providerBox img{
    top: 8%;
    left: 5%;
    width: 40%;
    
}
 
}

@media screen and (max-width:830px) {
    .providerBox{
        width: 60%;
    }

      .providerBox img{
    top: 10%;
    left: 5%;
    width: 33%;
    
}
 
}

@media screen and (max-width:700px) {
    .providerBox{
        width: 60%;
    }

      .providerBox img{
    top: 6%;
    left: 5%;
    width: 40%;
    
}

.providerBox{
width: 80%;

}
 
}