.loginContainer{
    width: 100%;
    height: 80vh;
    display: flex;
}

.loginBoxUser{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/login/bgLoginUser.png');
    transition: 0.8s;
    cursor: pointer;
    position: relative;
    background-color: var(--blue);
    overflow: hidden
}

.loginBoxUser::before {
    content: ""; /* ESSENCIAL */
    position: absolute; /* ESSENCIAL */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 0, 173, 0.5);
    z-index: 1; 
    
}

.loginBoxProvider::before {
    content: ""; /* ESSENCIAL */
    position: absolute; /* ESSENCIAL */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 67, 46, 0.5);
    z-index: 1; 
    
}

.loginBoxProvider{
    width: 50%;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/login/bgLoginProvider.png');
    transition: 0.8s;
    cursor: pointer;
}

.loginBoxProvider h3{
    font-family: var(--font-bold);
    font-size: 60px;
    color: #d4d7d9;
    text-shadow: 4px 4px 8px #434242;
    margin: 6px 55px;
    position: relative;
    top: 50%;
    transform: translate-x(-50% );
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 20px;
    right: -15%;
    transition: 0.5s;
}

.loginBoxProvider h3:hover {
    transform: scale(1.2);
    transition: 0.5s;
    text-shadow: 4px 4px 12px var(--orange);
}

.loginBoxUser h3:hover {
    transform: scale(1.2);
    transition: 0.5s;
    text-shadow: 8px 8px 12px var(--blue);
}

.loginBoxUser h3{
    font-family: var(--font-bold);
    font-size: 60px;
    color: #d4d7d9;
    text-shadow: 4px 4px 8px #434242;
    margin: 6px 55px;
    position: relative;
    top: 50%;
    transform: translate-x(-50% );
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 20px;
     left:28%;
     transition: 0.5s;
}


.loginBoxUser:hover{
    width: 80%;
    transition: 0.8s;
}


.loginBoxProvider:hover{
    width: 80%;
    transition: 0.8s;
}

@media screen and (max-width:1200px) {
    .loginBoxUser{
        background-position: center;
       width: 100%;
    }
     .loginBoxProvider{
        background-position: center;
         width: 100%;
    }

     .loginBoxUser h3{
        font-size: 35px;
        left: 15%;
    }

      .loginBoxProvider h3{
        font-size: 35px;
        left: 10%;
    }

    .loginContainer{
    flex-direction: column;
    align-items: center;
    }

   .loginBoxUser:hover{
    width: 100%;
}


.loginBoxProvider:hover{
    width: 100%;
    
}

}

