.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbarContainer img{
    width: 300px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.navLinkContainer{
    display: flex;
    gap: 25px;
    font-family: var(--font);
}

.navLink{
    text-decoration: none;
    gap: 25px;
    color: var(--blue);
}

.navLinkContainer button{
    border: 2px solid var(--blue);
    border-radius: 16px;
    padding: 5px  10px ;
    color: var(--blue);
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 6px;
}

.icon{
    color: var(--orange);
    font-size: 18px;
}

.navLinkSelect{
    border-bottom: 3px solid var(--orange);
    padding-bottom: 5px;
}