.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbarContainer img{
    width: 200px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

.navLinkContainer{
    display: flex;
    gap: 25px;
    font-family: var(--font);
}

.navLink{
    text-decoration: none;
    gap: 25px;
    color: var(--blue);
    align-items: center;
    display: flex;
}

.loginButton{
    border: 2px solid var(--blue);
    border-radius: 16px;
    padding: 5px  10px ;
    color: var(--blue);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 6px;
    text-decoration: none;
}

.icon{
    color: var(--orange);
    font-size: 18px;
}

.navLinkSelect{
    border-bottom: 3px solid var(--orange);
    padding-bottom: 5px;
}

.MobileNavbarLinksContainer{
    gap:20px;
    padding: 20px;
    display: none;
}

.drawer{
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 20px;
    gap: 1em;
    background-color: var(--white);
    font-family: var(--font);
    color: var(--blue);
    text-align: center;
}

.drawer a{
    text-decoration: none;
    color: var(--icons-color);
    font-weight: 700;
}

.navbarIcons{
    font-size: 35px;
    color: var(--orange);
    cursor: pointer;
}



/* Responsive Design */
@media (max-width: 768px) {
    .navbarContainer img{
    width: 200px;
    height: 80px; 
}

.navLinkContainer{
    display: none;
 }
    .MobileNavbarLinksContainer{
        display: flex;
    }

    .navbarLinksContainer {
        display: none;
    }

    .navbarContainer{
        justify-content: space-between;
    }


}
