
.homeContainer{
    margin: 0 auto;
    margin-top: 80px;
}

.bannerRota{
    width: 100%;
    margin: 80px auto;
    display: flex;
    align-items: center;justify-content: center;
    position: relative;
    
}

.bannerRota button{
    position: absolute;
    bottom: 25%;
    right: 32%;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-family: var(--font-bold);
    text-decoration: none;
    box-shadow: 0px 4px 4px #4a4a4a;
}
.bannerRota img{
    width: 100%;
    border-radius: 75px;
}
.searched{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    background-color: #fff;
}

.searched h3{
    color: var(--orange);
    font-family: var(--font-bold);
    font-size: 30px;
    margin-bottom: 60px;
}

.lineSearched{
    width: 80px;
    height: 5px;
    border-radius: 8px;
    background-color: var(--blue);
}

.ContainerBoxSearched{
    display: flex;
    width: 80%;
    gap: 25px;
    justify-content: space-around;
    
}

.BoxSearched{
    width: 20%;
    padding:30px 20px 20px 20px;
    border: 2px solid var(--orange);
    border-radius: 12px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px 4px #4a4a4a;
}

.BoxSearched h4{
    color: var(--blue);
    font-family: var(--font-bold);
    font-size: 30px;
}

.BoxSearched p{
    font-size: 14px;
    font-family: var(--font);
    color: var(--orange);
}



.iconSearched{
    
    font-size: 80px;
    color: var(--blue);
}

.BoxSearched:hover .BoxSearchedp{
    color: white ;
    
}

.BoxSearched:hover .BoxSearchedh4{
    color: white;
}

.BoxSearched:hover .iconSearched{
    color: white;
}

.BoxSearched:hover{
    background-color: var(--blue);
    border-color: var(--white);
}


/* section Mais buscados*/


.Sponsored{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue-bg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.SponsoredBg{
    object-fit: contain;
    height: 95%;
    position: absolute;
    right: 80px;
    top: 10px;
    z-index: 1;
}

.sponsoredContainer{
    width: 80%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.sponsoredBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 350px;
    background-color: var(--white);
    padding: 10px 20px 0 20px; 
    border: 2px solid var(--orange);
    border-radius: 10px;
    z-index: 3;    
    text-align: center;
    cursor: pointer;
}

.sponsoredBox img{
    width: 130px; 
    border-radius: 50%;
    border: 2px solid var(--orange);
    margin-bottom: 5px;
}

.sponsoredBox h3{
    font-family: var(--font-bold);
    color: var(--blue);
    font-size: 24px;
    margin-bottom: 5px; 
    
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sponsoredBox > p {
    font-family: var(--font);
    margin-bottom: 10px;
    margin-top: 5px;

    width: 100%;
    height: 50px; 
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.infosSponsored{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 2px;
    margin-top: 10px; 
}

.txtSponsored {
    max-width: 100%;
    text-align: center; 
}

.txtSponsored b {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txtSponsored p , b{
    color: var(--blue);
    font-family: var(--font);
    font-size: 15px;
}

.txtSponsored p {
    font-size: 12px;
    height: auto;
    margin: 0; 
    display: block; 
}

.starSponsored{
    display: flex;
    gap: 5px;
    padding-top: 0;
    color: #ffcd29;
    font-size: 24px; 
    justify-content: center;
}






/* Section Comments */

.commentsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    padding: 30px;
}

.commentsContainer h4{
    font-family: var(--font-bold);
    color: var(--blue);
    font-size: 48px;
    margin-top: 100px;
}

.commentsContainer i{
    font-style: normal;
    color: var(--orange);
}

.commentsContent{
    width: 80%;
    margin-top: 50px;
    display: flex;
}

.comentsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #f7f7f7;
    height: 200px;
    width: 500px;
    font-family: var(--font);
    gap: 15px;
    position: relative;
    
}

.comentsBox h5{
    font-size: 24px;
    color: var(--orange);

}

.comentsBoxAspas{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 8%;
}



.starComments{
     display: flex;
    gap: 8px;
    color: #ffcd29;
    font-size: 20px;
}


.contactContainer{
    background-color: var(--orange);
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    justify-content: center;
}

.contactContainer h4{
    font-family: var(--font-bold);
    color: var(--white);
    font-size: 30px;
    margin: 40px 0;
}

.contactContent{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}


.contactContent form{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 20px;
    margin-right: 50px;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    align-items: center;
}

form input, form textarea{
   width: 100%;
    padding: 5px;
     padding-left: 15px;
    border-radius: 8px;
    border: none;
    font-family: var(--font);
    font-size: 16px;
    background-color: #f7f7f7;
}

form textarea{
    height: 150px;
    resize: none;
}

form button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font-bold);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.contactSocial{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
    width: 30%;
    border-radius: 12px;
    background-color: #fff;
    padding: 15px;
    padding-top: 40px;
    margin-top: 20px;
}

.contactSocialBox{
    display: flex;
    height: 70px;
    align-items: left;
    flex-wrap: wrap; 
}

.SocialBoxIcon{
    border-radius: 12px;
    font-size: 50px;
    color: var(--blue);
   background-color: #f7f7f7;
   padding: 20px;
   font-size: 30px;

}

.SocialBoxTxt{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--blue);
    font-family: var(--font);
}

.SocialBoxTxt p{
    font-size: 14px;
}

.contactSocial h4{
    font-family: var(--font-bold);
    color: var(--orange);
    font-size: 20px;
    max-width: 200px;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.iconbg{
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--blue);
    padding: 10px 10px 5px 10px;
    border-radius: 8px;
    color: var(--white);
}

.SocialBoxIcons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

/* section tips*/

.tipsContainer{
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px 0;
    background-color: #f7f7f7;
}

.tipsContainer h4{
    font-family: var(--font-bold);
    color: var(--blue);
    font-size: 32px;
    margin-bottom: 20px;
}

.tipsContent{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 60px;
    justify-content: center;
}

.tipsBox{
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:30% ;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 2px 2px #4a4a4a ;
}

.tipsBox img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.tipsBox p{
    font-family: var(--font-bold);
    color: var(--orange);
    font-size: 14px;
}

/* Responsive */

@media screen and (max-width:1400px ) {
    .ContainerBoxSearched{
    width: 100%;  
    flex-wrap: wrap;
}

.contactContent{
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.contactSocial{
    width: 40%;
}

.bannerRota{
    padding: 20px;
    width: 100%;
}
}

@media screen and (max-width:1150px ) {
    .BoxSearched{
    width: 45%;
    }

    .sponsoredContainer{
        width: 90%;
    }

    .commentsContent{
        width: 90%;
    }
}

@media screen and (max-width:786px ) {
    .BoxSearched{
    width: 45%;
    }

    .bannerRota{
        display: none;
    }

    .ContainerBoxSearched{
        width: 80%;
    }

    .BoxSearched{
        width: 100%;
    }

    .commentsContainer{
        width: 100%;
        text-align: center;
    }

    .sponsoredContainer{
        width: 80%;
    }

    .sponsoredBox{
         width: 300px;
    }

    .commentsContent{
        width: 100%;
    }

    .comentsBox{
       width: 320px;

    }

    .contactContainer{
        padding: 20px;
    }

    .contactContent form{
        width: 100%;
        margin: 0;
    }

    .contactContent{
    width: 90%;
    }

    .contactSocial{
        width: 100%;
       
    }

    .tipsBox{
        width: 100%;
    }

    .starSponsored{
        font-size: 24px;
    }

}
