.footerContainer{
    display: flex;
    background-color: var(--blue-bg);
    width: 100%;
    color: var(--white);
    position: relative;
    bottom: 0;
    left: 0;
    align-items: center;
}

.logoContainer img{
    width: 320px;
}

.infosContainer{
    display: flex;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--white);
    justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 20px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    z-index: 999;
}

.contacts button{
    border-radius: 16px;
    padding: 8px 10px;
    border: 1px solid var(--orange);
    background-color: var(--blue-bg);
    color: var(--white);
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width:180px;
    font-family: var(--font);
    font-size: 0.8em;
}

.contacts h3{
    font-family: var(--font-bold);
}

.contacts p{
    font-family: var(--font);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon{
    font-size: 18px;
    color: var(--orange);
}


.iconbg{
    font-size: 18px;
    background-color: white;
    padding: 0px 5px;
    border-radius: 8px;
    color: var(--orange);
}

.social{
    font-family: var(--font-bold);
}    

.social div svg{
    font-size: 20px;
}

.social img{
    width: 150px;
}

.terms{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 70%;
    justify-content: space-around;
}

.terms a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font);
    font-size: 12px;
}

.footerMap{
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

.footerMap h4{
    margin-bottom: 15px;
}

.infosContainerLink{
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

@media screen and (max-width:1000px) {
    .footerMap{
        display: none;
    }
}

@media screen and (max-width:800px) {
    .contacts{
        display: none;
    }

    .infosContainer{
        justify-content: end;
    }

    .terms{
        display: none;
    }

    .logoContainer {
    width: 250px;
}

    .logoContainer img{
        width: 230px;
    }
}