
.popupContainer{
}

.popup{

    position: relative;
}

.exitIcon{
    color: var(--orange);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.popupMenu{
    display:flex;
    padding: 10px 10px ;
    gap: 15px;
    font-size:12px;
    color: white;
    font-family:var(--font);
    align-items: center;
    justify-content: center ;
}

.popupMenu img{
   width: 50%;
   margin: 10px auto;

}

.popupBody{
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 50px;
    gap: 5px;
    font-family: var(--font);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 35px;
    position: relative;
}

form a{
    text-decoration: none;
    padding: 2px 8px;
    color: var(--orange);
    background-color: #fff;
    position: absolute;
    bottom: -12px;
}

.messageBot{
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    font-family: var(--font);
}

.popupFooter{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center ;
    margin-bottom: 35px;
}


.popupFooter button{
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font);
}