.bannerContainer{
    width: 100%;
    height: 600px;
    background-image: url('/img/banner/bgHome.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.txtContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left:100px;
    gap: 20px;
}

.txtContainer h2{
    color: var(--blue);
    font-family: var(--font-bold);
    font-size: 48px;
}

.txtContainer i{
    color: var(--orange);
}

.txtContainer p{
    font-size: 20px;
    color: var(--blue);
    font-family: var(--font);
}

.btnBanner {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    width: 190px;
    background-color: var(--orange);
    color: var(--white);
    font-family: var(--font-bold);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 5px 5px 5px #6c6c6c;
}

.imgContainer {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUser {
    width: 70%;
    height: auto;
    
}

@media screen and (max-width:1100px) {
    .imgUser {
    width: 100%;
}

.txtContainer h2{
    font-size: 32px;
}

.txtContainer p{
    font-size: 14px;
}
}

@media screen and (max-width:780px) {
    .txtContainer{
        width: 100%;
        align-items: center;
        text-align: center;
        padding-left:0px;
    }
    .imgContainer{
        display: none;
    }
}

