*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Okta Neue';
    src: local('Okta Neue Regular'), local('Okta-Neue-Regular'),
        url('./assets/fonts/OktaNeue-Regular.woff2') format('woff2'),
        url('./assets/fonts/OktaNeue-Regular.woff') format('woff'),
        url('./assets/fonts/OktaNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Okta Neue bold';
    src: local('Okta Neue Bold'), local('Okta-Neue-Bold'),
        url('./assets/fonts/OktaNeue-Bold.woff2') format('woff2'),
        url('./assets/fonts/OktaNeue-Bold.woff') format('woff'),
        url('./assets/fonts/OktaNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }  

@font-face {
    font-family: 'Okta Neue italic';
    src: local('Okta Neue Italic'), local('Okta-Neue-Italic'),
        url('./assets/fonts/OktaNeue-RegularItalic.woff2') format('woff2'),
        url('./assets/fonts/OktaNeue-RegularItalic.woff') format('woff'),
        url('./assets/fonts/OktaNeue-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }  



:root{
    /* Padrão de cores do site */ 
    --blue-bg:#110263;
    --blue:#1700ad;
    --orange:#ff432e;
    --white: #fff ;

    /* Padrão de fontes do site */ 
    --font:'Okta Neue';
    --font-bold:'Okta Neue bold';
    --font-italic:'Okta Neue italic';
}