.providerDatailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
   width: 70%;
   margin: 0 auto;
}

.providerDatailsHome{
    width: 100%;
    margin:30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.providerDatailsImage{
    width: 50%;
    
}

.providerDatailsImage img{
    margin-left: 60px;
    width: 250px;
    border: 3px solid var(--orange);
    border-radius: 50%;
}

.providerDatailsInfo{
    width: 50%;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    font-family: var(--font);
    color: var(--blue);
}

.line{
    width: 100%;
    margin: 0 auto;
    height: 3px;
    border-radius: 8px;
    background-color: var(--orange);
    margin: 5px 0;
}

.providerDatailsServices{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
    align-items: top;
    margin-top: 30px;
}

.providerDatailsAvailableServices{
    width: 50%;
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.providerAvailable{
    background-color: #f9f9f9;
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;
    font-family: var(--font);
    color: var(--blue);
    align-items: center;
}

.providerAvailable h3{
    font-size: 50px;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
}

.providerAvailable svg{
    color: var(--blue);
    font-size: 50px;
}
.starFull{
    color: gold;
    font-size: 30px;
}

.comments{
   
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    gap: 20px;
    width: 60%;
}

.commentUser{
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    font-family: var(--font);
    align-items: center;
}

.commentUser svg{
    color: var(--blue);
    font-size: 30px;
}

.commentUser h5{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
   
}

.providerDatailsGallery{
    width: 50%;
    border: 3px solid var(--orange);
    border-radius: 25px;
    height: 400px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.imgGallery {
    cursor: pointer;
}

.imgGallery img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;

}

.proviersSearch{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.requestService button{
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}