.services{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 80px    ;
}

.servicesMenu{
    background-color: var(--blue);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}


.menuFilter{
    width: 100%;
    background-color: #fcfcfc;
    color: #767474;
    position: absolute;
    top:142px;
    border-top: 2px solid var(--orange);
    z-index: 5;
    font-family: var(--font);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    padding: 25px;
     align-items: left;
    justify-content: space-around;
}

.menuFilter a{
    width: 50%;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: left;
    color: var(--blue);
    font-size: 0.8em;
    padding: 0;
}

.servicesMenu a{
    color: var(--white);
    text-decoration: none;
    font-family: var(--font);
    font-size: 14px;
}

.servicesBody{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
}




.servicesFilter{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 40px;
    gap: 30px;
    padding-bottom: 100px;
}

.filterItem{
    display: flex;
    align-items: center;
    margin-top: 25px;
    position: relative;
    max-width: 300px;
    
}



.filterItem input{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: var(--font);
    font-size: 14px;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px 8px #767474;
}

.box{
    width: 100%;
    display: flex;
}

.filterItem button{
    position:absolute;
    right: 0;
    top: 0;
    padding: 10.5px 8px ;
    line-height: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border: none;
}

.servicesList{
    font-family: var(--font);
}
.serviceItem{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
    font-family: var(--font);
}

.serviceClassific h4{
    font-family: var(--font);
    font-size: 14px;
}

.serviceClassific h2{
    font-family: var(--font);
    font-size: 18px;
}


.starSponsored{
    display: flex;
    gap: 8px;
    padding-top:8px ;
    color: #ffcd29;
    font-size: 1.5em;
}

.starSponsored svg{
    cursor: pointer;
}





.providerContainer{
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
    padding-top: 60px;
    margin-bottom: 50px;
    padding-bottom: 120px;
}


@media screen and (max-width:1549px) {



 .providerContainer{
    display: flex;
   margin: auto auto;           
   margin-bottom: 50px;
 }

 .box{
    width: 40%;
 }

}





@media screen and (max-width:830px) {

    .servicesMenu{
        display: none;

    }

 .servicesFilter{
    display: none;
 }

 .providerContainer{
    width: 90%;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   margin:  auto;
 }

 .box{
    width: 100%;
 }

 .services{
    margin-top: 80px;
 }

}

