.aboutContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*banner*/
.aboutBanner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 50px 0;
}

.aboutBanner img{
   border-radius: 72px ;
   width: 80%;
   position: relative;
}

.bannerLaw{
    position: absolute;
    padding:60px 40px;
    line-height: 60px;
    background-color: var(--white);
    box-shadow:0 4px 4px 0 #4a4a4a;
    z-index: 5;
    left: 15%;
    height: 53%;
    top: 30%;
    width: 25%;
    border-radius:78px 78px 32px 78px;
    font-family: var(--font-bold);
    font-size:38px;
}


.bannerLaw h3{
    color: var(--blue);
}

.bannerLaw i {
    color: var(--orange);
    font-style: normal;
    padding-left: 70px;
}


/*journey*/

.journeyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 90px;
}

.journeyContainer h3{
    color: var(--orange);
    font-family: var(--font-bold);
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.journeyContainer p{
    color: var(--blue);
    font-family: var(--font);
    margin-top: 50px;
    font-size: 24px;
}

.lineSearched{
    width: 80px;
    height: 5px;
    border-radius: 8px;
    background-color: var(--blue);
    margin-top: 60px;
}

/* modal*/

.modalContainer{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin: 50px 0;
}

.modalContent{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modalContent h4{
    color: var(--blue);
    font-family: var(--font-bold);
    font-size: 24px;
    margin-top: 10px;
}

.modalContent p{
    color: var(--orange);
    font-family:var(--font);
    font-size: 14px;
    max-width: 180px;
}

/*operation*/

.operationContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.operationContainer h2{
     color: var(--orange);
    font-family: var(--font-bold);
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
    max-width: 280px;
}

.operationContent{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.teamContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.teamContainer h2{
    color: var(--orange);
    font-family: var(--font-bold);
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
    max-width: 400px;
}